<!DOCTYPE html>
<html>
  <head>
    <title>IBM Cloud Image Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 align='center'>Dashboard View of Image: <%- containerName %></h1>
    <p align='center'>An overview of all scan reports, exemptions and containers running from the image specified.</p>
    <br>
    <ul class="container-group">
        <div>
            <h2 align='center'>Overall Assessment for this Container</h2>
            <table class="VAReportTable">
               <thead><tr>
                  <th>Container</th>
                  <th>VA Scan ID</th>
                  <th>Scan Timestamp</th>
                 <th>VA Overall Status</th>
                </tr>
              </thead>
              <tbody>
                 <tr>
                    <td>
                      <%- containerName %>
                    </td>
                    <h4>
                    <td>
                    <%- assessmentList.id %>
                    </td>
                    <td>
                    <%- assessmentList.scan_time %>
                    </td>
                    <td>
                    <% switch (assessmentList.status) { 
                      case 'OK' : %>
                      <span class="OKStatus"></span>
                      <% break;
                      case 'WARN' : %>
                        <span class="WarnStatus"></span>
                        <% break;
                      case 'FAIL' : %>
                        <span class="FailStatus"></span>
                        <% break;
                      } %>
                    </td>
                    <%- assessmentList.vulnerabilities %>
                    <%- assessmentList.configuration_issues %>
                  </h4>
                  </tr>
              </tbody>
              </table>
           
            </div>
        <div>
     <table class="VAReportTable">
       <thead><tr>
          <th>Scan Time</th>
          <th># of Issues</th>
          <th># of Exempt Issues</th>
          <th># of Vulnerabilities</th>
          <th># of Exempt Vulnerabilities</th>
          <th># of Configuration Issues</th>
          <th># of Exempt Configuration Issues</th>
        </tr>
      </thead>
      <tbody>
         <tr>
         <td>
           <%- overallList.scan_time %>
         </td>
         <td>
             <%- overallList.issue_count %>
           </td>
         <td>
             <%- overallList.exempt_issue_count %>
           </td>
           <td>
               <%- overallList.vulnerability_count %>
             </td>
             <td>
                 <%- overallList.exempt_vulnerability_count %>
               </td>
               <td>
                   <%- overallList.configuration_issue_count %>
                 </td>
                 <td>
                     <%- overallList.exempt_configuration_issue_count %>
                  </td>
      </tr>
    </tbody>
      </table>
      </div>
      <div>
      <h2 align='center'>Exemptions defined for this account</h1>
      <table class="VAReportTable">
        <thead><tr>
           <th>Issue Type</th>
           <th>Issue ID</th>
           <th>Account ID</th>
         </tr>
       </thead>
       <% if (exemptionsList != 'null') { %>
       <tbody>
          <% for(key in exemptionsList) { %>
          <tr>
          <td>
            <%- exemptionsList[key].issue_type %>
          </td>
          <td>
              <%- exemptionsList[key].issue_id %>
            </td>
          <td>
              <%- exemptionsList[key].account_id %>
            </td>
       </tr>
        <% } %>
     </tbody>
       </table>
       <% } else { %>
        <h3 align='center'>No Exemptions defined for this account</h3>
        <% } %>
      </div>
        <div>
       <h2 align='center'>Exemptions Defined for this Container</h1>
       <% if (resourceExemptionsList != 'null') { %>
       <table class="VAReportTable">
          <thead><tr>
             <th>Issue Type</th>
             <th>Issue ID</th>
             <th>Account ID</th>
           </tr>
         </thead>
         <tbody>
            <% for(key in resourceExemptionsList) { %>
            <tr>
            <td>
              <%- resourceExemptionsList[key].issue_type %>
            </td>
            <td>
                <%- resourceExemptionsList[key].issue_id %>
              </td>
            <td>
                <%- resourceExemptionsList[key].account_id %>
              </td>
         </tr>
         <% } %>
       </tbody>
         </table>
         <% } else { %>
          <h3 align='center'>No Exemptions defined for this account</h3>
          <% } %>
        </div>
        <div>
          <h2 align='center'>This container is currently deployed to:</h1>
          <% if (runningList != 'null') { %>
          <table class="VAReportTable">
              <thead><tr>
                 <th>Ancestor Name</th>
                 <th>Ancestor Type</th>
                 <th>Cluster</th>
                <th>Container ID</th>
                <th>Container Name</th>
                <th>Pod Running this Container</th>
               </tr>
             </thead>
             <tbody>
               <% for(key in runningList) { %>}
                <tr>
                <td>
                  <%- runningList[key].ancestor_name %>
                </td>
              <h4>
                <td>
               <%- runningList[key].ancestor_type %>
                </td>
                <td>
               <%- runningList[key].cluster %>
                </td>
                <td>
                    <%- runningList[key].container_id %>
                </td>
                <td>
                    <%- runningList[key].container_name %>
                </td>
                <td>
                    <%- runningList[key].pod %>
                </td>
              </h4>
             </tr>
             <% } %>
           </tbody>
             </table>
             <% } else { %>
              <h3 align='center'>Image is not currently being run by any containers</h3>
              <% } %>
        </div>
    </ul>
  </body>
</html>
