<!DOCTYPE html>
<html>
  <head>
    <title>IBM Cloud VA Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 align='center'>IBM Cloud Vulnerability Advisor Dashboard</h1>
    <p align='center'>An overview of all scan reports and images associated with the current account are listed below.  
      For more details on an image click on a specific container to get a detailed report</p>
    <br>
    <ul class="container-group">
      <table class="VAReportTable">
         <thead><tr>
            <th>Container</th>
            <th>VA Scan ID</th>
            <th>Scan Timestamp</th>
           <th>VA Overall Status</th>
          </tr>
        </thead>
        <tbody>
        <% for(key in assessmentList) { %>
           <tr>
           <td>
           <%- key %>
           </td>
          </h3>
         <h4>
           <td>
          <%- assessmentList[key].id %>
           </td>
           <td>
          <%- assessmentList[key].scan_time %>
           </td>
           <td>
          <% switch (assessmentList[key].status) { 
             case 'OK' : %>
             <span class="OKStatus"></span>
             <% break;
             case 'WARN' : %>
              <span class="WarnStatus"></span>
              <% break;
             case 'FAIL' : %>
              <span class="FailStatus"></span>
              <% break;
          } %>
           </td>
          <%- assessmentList[key].vulnerabilities %>
          <%- assessmentList[key].configuration_issues %>
         </h4>
        </tr>
      <% } %>
      </tbody>
        </table>
        <br>
        <table class="VAReportTable">
            <thead><tr>
                <th>Container Name</th>
                <th>Creation Time</th>
                <th>Container Status</th>
                <th>Container Scan Time</th>
                <th># of Issues in Container</th>
                <th># of Exempt Issues in Container</th>
                <th># of Vulnerabilities in Container</th>
                <th># of Exempt Vulnerabilities in Container</th>
                <th># of Configuration Issues in Container</th>
                <th># of Exempt Configuration Issues</th>
              </tr>
            </thead>
            <tbody>
                <% for(key in containerList) { %>
                   <tr>
                    <h4>
                   <td>
                     <a href="VAContainerDetails?image_name=<%- containerList[key].name %>">
                      <%- containerList[key].name %>
                     </a>
                   </td>
                   <td>
                  <%- containerList[key].created_time %>
                   </td>
                   <td>
                  <% switch (containerList[key].status) { 
                     case 'OK' : %>
                     <span class="OKStatus"></span>
                     <% break;
                     case 'WARN' : %>
                      <span class="WarnStatus"></span>
                      <% break;
                     case 'FAIL' : %>
                      <span class="FailStatus"></span>
                      <% break;
                  } %>
                   </td>
                   <td>
                     <%- containerList[key].scan_time %> 
                   </td>
                   <td>
                      <%- containerList[key].issue_count %>
                   </td>
                   <td>
                      <%- containerList[key].exempt_issue_count %>
                   </td>
                   <td>
                      <%- containerList[key].vulnerability_count %>
                   </td>
                   <td>
                      <%- containerList[key].exempt_vulnerability_count %>
                   </td>
                   <td>
                      <%- containerList[key].configuration_issue_count %>
                   </td>
                   <td>
                      <%- containerList[key].exempt_configuration_issue_count %>
                   </td>
                 </h4>
                </tr>
              <% } %>
              </tbody>
        </table>
      <p>
      </p>
    </ul>
  </body>
</html>
